form{
    width: 100%;
    width: 90%;
    max-width: 528px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
}

form > img{
    max-width: 18rem;
    margin: 0 auto;
}



form .input-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1.6rem;
}


@media(max-width: 500px){
    form .input-group{
    display: block;
}
}
