div.side-content-container{
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 4rem;
    text-align: center;
    flex: 1;
    height: 100%;
}

div.side-content-container h1 {
    max-width: 48rem;
}

div.side-content-container p {
    max-width: 40rem;
}

img{
    width: 100%;
    max-width: 60rem;
}

@media(max-width: 840px){
    div.side-content-container{
        display: none;
        visibility: hidden;
    }
}
